<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    // Logged in page

    <servlet>
        <servlet-name>loggedinServlet</servlet-name>
        <servlet-class>com.faisal.MyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loggedinServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>

    // Log in sequence
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.sequoiia.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/api/login</url-pattern>
    </servlet-mapping>

</web-app>